@use 'sass:math' as math;

@function scale($value, $factor) {
    @return $value * $factor;
}

.content {
    display: flex;
    gap: 40px;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: stretch;
}

.card {
    flex: 1 1 31.25%;
}

.icon {
    line-height: 0.9;
    margin-left: 5px;
}

.button {
    $factor: math.div(64, 36);

    line-height: scale(36px, $factor);
    min-width: scale(64px, $factor);
    padding: 0 scale(16px, $factor);
    font-size: scale(14px, $factor);
}

.text {
    font-weight: 500;
    margin-bottom: 0;
    cursor: default;
}

.price {
    @extend .text;

    font-size: 66px;
    line-height: 99px;
}

.date {
    @extend .text;

    $factor: math.div(49, 24);

    font-size: scale(24px, $factor);
    line-height: scale(32px, $factor);
}

.time {
    @extend .text;

    $factor: math.div(42, 24);

    font-size: scale(24px, $factor);
    line-height: scale(32px, $factor);
}
