<section class="main-container">
    <mat-stepper linear labelPosition="bottom" class="stepper">
        <mat-step label="Zakres leczenia">
            <ng-template matStepContent></ng-template>
        </mat-step>
        <mat-step label="Termin wizyty">
            <ng-template matStepContent></ng-template>
        </mat-step>
        <mat-step label="Stan zdrowia">
            <ng-template matStepContent></ng-template>
        </mat-step>
        <mat-step label="Podsumowanie">
            <ng-template matStepContent></ng-template>
        </mat-step>
    </mat-stepper>
</section>
