@use 'src/dimensions' as dimensions;

$dimension: 58px;

.main-container {
    padding-top: dimensions.$header-height;
}

.container {
    display: flex;
    justify-content: flex-start;
    cursor: default;
}

.info-container {
    @extend .container;

    margin-top: 160px;
    align-items: center;
    flex-direction: column;
}

.appointments-wrapper {
    @extend .container;

    flex-direction: column;
    padding: 40px dimensions.$horizontal-container-padding;
    align-items: stretch;
    gap: 20px;
}

.header {
    font-weight: 700;
    font-size: $dimension - 10px;
    line-height: $dimension;
}

.greeting {
    @extend .header;

    margin-bottom: 2 * $dimension;
}

.title {
    @extend .header;

    margin-bottom: 0;
}

.action-label {
    cursor: pointer;

    &:hover {
        opacity: 75%;
    }
}

.info-label {
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    margin-bottom: 0;
}
