<app-appointments-list [title]="listTitle">
    <mat-form-field appearance="outline" class="picker">
        <mat-label>Wybierz datę</mat-label>
        <input matInput [matDatepicker]="picker" [formControl]="pickerControl" />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <ng-container *ngIf="empty; else notEmpty">
        <h1 class="no-appointments">Brak wizyt w dniu {{ pickerControl.value | date: 'dd.MM.yyyy' }}</h1>
    </ng-container>
    <ng-template #notEmpty>
        <app-appointments-wrapper>
            <ng-content></ng-content>
        </app-appointments-wrapper>
    </ng-template>
</app-appointments-list>
